<%- include("../../views/layouts/user/header") %>

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    .container {
        width: 90%;
        max-width: 800px;
        margin: 2rem auto;
        padding: 2rem;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        text-align: center;
    }
    h1 {
        color: #800000;
        margin-bottom: 1rem;
    }
    .btn-order-details {
        background-color: #800000;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        text-decoration: none;
    }
    .btn-order-details:hover {
        background-color: #5c0202;
        color: white;
    }
    .order-date {
        font-size: 1rem;
        color: #00ff44;
        margin-top: 10px;
    }
</style>

<div class="container">
    <h1>Order Confirmation</h1>
    <p>Thank you for your order!</p>
    <br>
    <p class="order-date">Delivery Date: <%= new Date(Date.now() + 7* 24 * 60 * 60 * 1000).toLocaleDateString() %></p>

    <br>
    <a href='/order-history' class="btn-order-details">View Order Details</a>
</div>

<%- include("../../views/layouts/user/footer") %>
